build/*
!build/AppDir
!build/buildInstructions
build/AppDir/usr/bin/*
build/AppDir/usr/lib/*
build/AppDir/usr/optional/*
!build/Debug
!build/Release
build/Debug/*
build/Release/*
!.gitkeep

/ShaderEffects
/PathEffects
/RasterEffects
/Boxes
/icons
/recent
/settings

*.creator.user*
*.pro.user*

*.so*

*qmake*